.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 8vh; /* Fixed height */
  background-color: #3498db;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%; 
  color: white;
  z-index: 1000;
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  width: 20%; 
  text-align: left;
}

.nav-right {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center;
  width: 30%; 
  gap: 2%; 
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-align: center;
  flex: 1; /* Ensure all links take equal space */
  transition: color 0.3s ease;
}

.nav-right a:hover {
  color: #020cbc;
}

.button-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-right .login-button {
  background-color: #038d3c;
  width: 60%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  color: white;
  border: none;
  padding: 0.5% 2%; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
  text-align: center;
}

.nav-right .login-button:hover {
  background-color: #009b41;
}

.logout-button {
  background-color: rgb(144, 139, 2);
  width: 70%;
  height: 100%;
  margin: 0%;
  padding: 0%;

}